@use '../global/variables.scss' as *;

.login {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 520px;
  padding-top: 19.6vh;
}

.login__title {
  position: relative;
  z-index: 1;
  margin-top: 0;
  margin-bottom: 28px;
  font-size: 32px;
  line-height: 1.1875;
  font-weight: 700;
  font-style: oblique;
}

.login__form {
  position: relative;
  z-index: 1;
  width: 341px;
}

.login__input-wrapper {
  margin-right: 2px;
}

.login__input {
  width: 100%;
  margin-bottom: 24px;
}

.login__submit {
  width: 100%;
}
